.mail-icon {
    background: url("../img/mail-vector.svg");
    height: 14px;
    width: 16px;
    display: block;
}

.phone-icon {
    background: url("../img/phone-vector.svg");
    height: 14px;
    width: 14px;
    display: block;
}

.arrow-right-icon {
    background: url("../img/arrow_right.svg");
    height: 16px;
    width: 10px;
    display: block;
}


.arrow-left-icon {
    background: url("../img/arrow_left.svg");
    height: 16px;
    width: 10px;
    display: block;
}


.menu-icon {
    background: url("../img/menu-line.svg");
    height: 24px;
    width: 24px;
    display: block;
}


.pin-icon {
    background: url("../img/pin.svg");
    height: 16px;
    width: 13px;
    display: block;
}


.send-mail-icon {
    background: url("../img/send-mail.svg");
    height: 15px;
    width: 18px;
    display: block;
    
}

.close-icon {
    background: url("../img/close-fill.svg");
    height: 20px;
    width: 20px;
    display: block;
}

.close-icon-white {
    background: url("../img/close-fill-white.svg");
    height: 20px;
    width: 20px;
    display: block;
}

.linkedin-icon {
    background: url("../img/linkedin-box-fill.svg");
    height: 20px;
    width: 20px;
    display: block;
}