/* @media only screen and (max-width: 768px) {
  .slideshow{
    height: calc(100vh - 120px); 
    height: -moz-calc(100vh - 120px); 
    height: -webkit-calc(100vh - 120px); 
    height: -o-calc(100vh - 120px);
    max-height: 1100px;
  }  
} */

/* 
@media only screen and (max-width: 768px) {
  .slideshow{
    height: 500px;
  }
} */
.fade-in-fast{
  animation: fadeIn 0.2s;
  -webkit-animation: fadeIn 0.2s;
  -moz-animation: fadeIn 0.2s;
  -o-animation: fadeIn 0.2s;
  -ms-animation: fadeIn 0.2s;
}
.fade-in {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.h{
  border: 1px solid red;
}


.pravy-rounded{
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  border-right: 0px !important;

}

.levy-rounded {
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}




.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;

}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.dropdown-content{
  display: none;
  position: absolute;
  z-index: 10;
}
.dropdown:hover .dropdown-content {display: block;}